*{
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Rubik', 'Arial' 'sans-serif';
}
.header-namangans-images{
width: 264px;
height: 28px;
}
.header-namangans-course-symbol{
    color: #2959CE;
}
.header-namangans-course{
 font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

}
.header-namangans-lan-uz{
    font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
 color: #000000;
}
.header-namangans-lan-ru{
    font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #A6A6A6;
}
.header-namangans-link{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
background: #7296EC;
border-radius: 10px;
}
.navigation-link{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #7F7F7F;
}
.aside-advertising-link{
    width: 1200px;
    height: 128px;
}
.section-news-title{
    width: 393px;
    height: 382px;
}
.section-news-link{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #000000;
}
.section-news-text{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #4A4B4C;
}
.section-news-image{
    width: 359px;
    height: 165px;
}
.section-news-dates-text{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #5E5F61;
}
.news-info{
    width: 1050px;
    height: 100px;
}
.news-info-title{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #000000;
}
.news-info-link{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
background: #F78B3B;
border-radius: 10px;
}
.section-news-war-image{
    width: 210px;
    height: 165px;
}
.section-news-war-link{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #000000;
}
.section-news-war-text{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #4A4B4C;
}
.section-news-war-dates-theme{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
color: #5E5F61;
}
.section-news-war-title{
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #000000;
}
.section-news-more-news{
    width: 393px;
    height: 502px;
}
.section-news-more-news-link{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #000000;
}
.section-news-more-news-text{
    font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #5E5F61;
}
.section-news-war-dates-icon{
    width: 20px;
    height: 20px;
}
.aside-more-sites-link{
    width: 393px;
    height: 338px;
}
.namangans-news-text{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 19px;
color: #000000;
}
.namangans-news-link{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #000000;
}
.social-networks-title{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
color: #000000;
}
.social-networks-img{
    width: 25px;
    height: 25px;
}
